 <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-4">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 >Sign in</h3>
            <hr class="my-4">

            <div class="form-outline mb-4">
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typeEmailX-2">Email</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              <label class="form-label" for="typePasswordX-2">Password</label>
            </div>

            <div class="text-center row 3 p-2">
              <a class="btn btn-primary " role="button" style="background-color: rgb(3,44,166); color: white" (click)="login()" href="" >Login</a>
            </div>
            <hr class="my-4">
            <div class="text-center row 3 p-2">
             <a class="btn btn-primary" href="registro-deportista" role="button" style="background-color: rgb(217,4,22)">Crear Cuenta</a>
            </div>
            <div class="text-center row 3 p-2">
              <a class="btn btn-primary" href="" role="button" style="background-color: rgb(217,4,22)">Regresar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
